*.la
*.lo
*.o
*.pc
.deps/
.dirstamp
.libs/
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/doc/
/gtk-doc.make
/libtool
/m4/
/stamp-h1
Makefile
Makefile.in
util/ai-cp
util/ai-journal
util/atomic-install
